.Header {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* justify-content: center; */
  display: flex;
  align-items: center;
  margin: 0 auto;
  line-height: 0;
}

.abc a {
  text-decoration: none;
  /* color: #ffffff; */
  padding: 10px;
  /* margin-right: 20px; */
  /* display: flex; */
  font-size: 20px;
  font-family: math;
}

.abc li {
  text-align: center;
  padding: 10px;

}


.abc {
  display: flex;
  position: relative;
}

.switch-mode {
  cursor: pointer;
  color: black;
  list-style-type: none;

}

.color-menu-light {
  color: #f5d1d1;
}

.color-menu {
  color: #111;
}

.ex-11 {
  position: fixed;
  right: 16px;
  top: 24px;
  color: #e74141;
  z-index: 99;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #842b2b;
}

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: rgb(191, 60, 60);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.container {
  /* display: grid;
  grid-template-columns: auto auto;
  gap: 14px;
  padding: 10px; */
  padding-top: 5rem;
  text-align: center;
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;

}

.container>div {
  border: 10px solid rgb(149, 133, 133);
  text-align: center;
  font-size: 20px;
}

.container img {
  max-width: 100%;
  height: 70%;
}

.container img:hover {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.8);
}

.card:hover {
  transform: scale(1.05);
}

img {

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container button {
  margin-top: 6px;
  width: 100%;
  height: 30px;
  border-radius: 0.6em;
  color: white;
  font-family: initial;
  font-size: 15px;
  font-family: math;
  background-color: rgb(149, 133, 133);
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup img {
  width: 60%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}










.footer {
  text-align: center;
  background-color: #754f38;
  color: white;
  width: 100%;
  height: 30px;
  justify-content: center;
  margin-top: 30px;
}
